#include <windows.h>
#include "nvfs-vers-win.h"

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "NVIDIA GPUDirect Storage Driver"
#define VER_INTERNALNAME_STR        "nvidia-fs.sys"
#define VER_ORIGINALFILENAME_STR    "nvidia-fs.sys"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     NVFS_FILE_VERSION
PRODUCTVERSION  NVFS_FILE_VERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VER_FILETYPE
FILESUBTYPE     VER_FILESUBTYPE
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      NVFS_COMPANY_NAME
            VALUE "FileDescription",  VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",      NVFS_FILE_VERSION_STRING
            VALUE "InternalName",     VER_INTERNALNAME_STR
            VALUE "LegalCopyright",   NVFS_COPYRIGHT
            VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
            VALUE "ProductName",      NVFS_PRODUCT_NAME
            VALUE "ProductVersion",   NVFS_FILE_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END